#feeds-loader {
    cursor: pointer;
}

.feed {
    padding:5px;
    margin:5px;
    border-bottom: 1px solid #aaaaaa;
}

.feed-time {
    font-size:0.8em;
    color:#BCBCBC;
    text-align: left;
}

.feed-link {
    font-size:0.8em;
    color:#BCBCBC;
    text-align: left;
}

.feed-content {
    font-size:1.2em;
    margin:5px;
}

.feed-button {
    text-align:right;
    padding:5px;
}

.feed-button a {
    margin-right:5px;
    margin-left:10px;
}

.feed-emoji {
    background-color: #dddddd;
    padding:10px;
    margin-top:5px;
}

.feed-emoji-users {
    margin-left:10px;
}

.feed-comments {
    background-color: #dddddd;
    padding:10px;
}

.feedstick {
}

.feedstar {
    background-color: #f8f8f8;
}

